In [13]:
import pandas as pd
CHINA_DATASET = "heart_attack_china.csv"
US_DATASET = "heart_attack_china.csv"
INDIA_DATASET = "heart_attack_china.csv"
INDONESIA_DATASET = "heart_attack_china.csv"
china = pd.read_csv(CHINA_DATASET, sep=",")
unitedStates = pd.read_csv(US_DATASET, sep=",")
india = pd.read_csv(INDIA_DATASET, sep=",")
indonesia = pd.read_csv(INDONESIA_DATASET, sep=",")
china['Stato'] = "China"
india['Stato'] = "India"
unitedStates['Stato'] = "United States"
indonesia['Stato'] = "Indonesia"
china.set_index(['Stato','Patient_ID'], inplace=True)
unitedStates.set_index(['Stato','Patient_ID'], inplace=True)
india.set_index(['Stato','Patient_ID'], inplace=True)
indonesia.set_index(['Stato','Patient_ID'], inplace=True)
df = pd.concat([china, india, unitedStates, indonesia], verify_integrity=True)

                  Age  Gender Smoking_Status Hypertension Diabetes Obesity  \
Stato Patient_ID
India 239262       53    Male     Non-Smoker           No       No      No
      239263       48  Female     Non-Smoker           No       No     Yes
      239264       57    Male         Smoker          Yes       No      No
      239265       42  Female     Non-Smoker           No       No      No
      239266       79    Male     Non-Smoker           No       No      No

                 Cholesterol_Level Air_Pollution_Exposure Physical_Activity  \
Stato Patient_ID
India 239262                Normal                 Medium            Medium
      239263                Normal                    Low            Medium
      239264                Normal                    Low              High
      239265                  High                 Medium              High
      239266                  High                 Medium            Medium

                 Diet_Score  ... Hospital_Availability TCM_Use  \
Stato Patient_ID             ...
India 239262        Healthy  ...                  High     Yes
      239263           Poor  ...                Medium     Yes
      239264           Poor  ...                Medium     Yes
      239265           Poor  ...                   Low     Yes
      239266       Moderate  ...                  High      No

                 Employment_Status Education_Level Income_Level  \
Stato Patient_ID
India 239262               Retired          Higher          Low
      239263            Unemployed          Higher          Low
      239264               Retired          Higher       Middle
      239265              Employed         Primary       Middle
      239266               Retired       Secondary          Low

                 Blood_Pressure Chronic_Kidney_Disease Previous_Heart_Attack  \
Stato Patient_ID
India 239262                167                     No                    No
      239263                179                     No                    No
      239264                136                     No                    No
      239265                159                     No                    No
      239266                112                    Yes                    No

                 CVD_Risk_Score Heart_Attack
Stato Patient_ID
India 239262                 86          Yes
      239263                 25           No
      239264                 89           No
      239265                 72          Yes
      239266                 46           No

[5 rows x 27 columns]