In [222]:
import pandas as pd
CHINA_DATASET = "heart_attack_china.csv"
US_DATASET = "heart_attack_us.csv"
INDIA_DATASET = "heart_attack_india.csv"
INDONESIA_DATASET = "heart_attack_indonesia.csv"
china = pd.read_csv(CHINA_DATASET, sep=",")
unitedStates = pd.read_csv(US_DATASET, sep=",")
india = pd.read_csv(INDIA_DATASET, sep=",")
indonesia = pd.read_csv(INDONESIA_DATASET, sep=",")

In [223]:
china['State'] = "China"
india['State'] = "India"
unitedStates['State'] = "United States"
indonesia['State'] = "Indonesia"

unitedStates["PatientID"] = range(1, len(unitedStates)+1)
indonesia["PatientID"] = range(1, len(indonesia)+1)

In [224]:
(
    unitedStates.drop(
        columns = ['EducationLevel',
                   'ST_Depression',
                   'EmploymentStatus',
                   'MaritalStatus', 
                   'Ethnicity',
                   'Medication',
                   'ChestPainType',
                   'ECGResults',
                   'ExerciseInducedAngina',
                   'Slope',
                   'NumberOfMajorVessels',
                   'Thalassemia',
                   'StrokeHistory',
                   'Residence',
                   'MaxHeartRate',
                   'HeartRate'
                  ],
        inplace=True
    )
)

In [225]:
unitedStates.rename(columns = {'BMI':'Obesity', 'Income':'IncomeLevel', 'Patient_ID':'PatientID', 'Diet':'HealthyDiet'}, inplace=True)

In [226]:
(
    china.drop(
        columns = ['Education_Level',
                   'Employment_Status',
                   'Air_Pollution_Exposure',
                   'Healthcare_Access',
                   'Rural_or_Urban',
                   'Region',
                   'Province',
                   'Hospital_Availability',
                   'TCM_Use',
                   'Chronic_Kidney_Disease',
                   'CVD_Risk_Score'
                  ],
        inplace=True
    )
)

In [227]:
china.rename(
    columns = { 
        'Patient_ID':'PatientID',
        'Smoking_Status':'Smoker',
        'Cholesterol_Level':'Cholesterol',
        'Physical_Activity': 'PhysicalActivity',
        'Diet_Score':'HealthyDiet',
        'Income_Level':'IncomeLevel',
        'Blood_Pressure':'BloodPressure',
        'Previous_Heart_Attack': 'PreviousHeartAttack',
        'Family_History_CVD': 'FamilyHistory',
        'Stress_Level':'StressLevel',
        'Alcohol_Consumption': 'AlcoholConsumption',
        'Heart_Attack' : 'Outcome'
    },
    inplace=True
)

In [228]:
(
    india.drop(
        columns = ['State_Name',
                   'Triglyceride_Level',
                   'LDL_Level',
                   'HDL_Level',
                   'Diastolic_BP',
                   'Air_Pollution_Exposure',
                   'Healthcare_Access',
                   'Emergency_Response_Time',
                   'Health_Insurance'
                  ],
        inplace=True
    )
)

In [229]:
india.rename(
    columns = {
        'Patient_ID':'PatientID',
        'Smoking':'Smoker',
        'Alcohol_Consumption': 'AlcoholConsumption',
        'Physical_Activity': 'PhysicalActivity',
        'Diet_Score':'HealthyDiet',
        'Cholesterol_Level':'Cholesterol',
        'Systolic_BP':'BloodPressure',
        'Family_History':'FamilyHistory',
        'Stress_Level':'StressLevel',
        'Heart_Attack_History':'PreviousHeartAttack',
        'Annual_Income':'IncomeLevel',
        'Heart_Attack_Risk':'Outcome'
    },
    inplace=True
)

In [230]:
(
    indonesia.drop(
        columns = ['region',
                   'waist_circumference',
                   'air_pollution_exposure',
                   'sleep_hours',
                   'blood_pressure_diastolic',
                   'fasting_blood_sugar',
                   'cholesterol_hdl',
                   'cholesterol_ldl',
                   'triglycerides',
                   'EKG_results',
                   'medication_usage',
                   'participated_in_free_screening'
                  ],
        inplace=True
    )
)

In [231]:
indonesia.rename(
    columns = {
        'age':'Age',
        'gender':'Gender',
        'income_level': 'IncomeLevel',
        'hypertension':'Hypertension',
        'diabetes':'Diabetes',
        'cholesterol_level':'Cholesterol',
        'obesity':'Obesity',
        'family_history':'FamilyHistory',
        'smoking_status':'Smoker',
        'alcohol_consumption':'AlcoholConsumption',
        'physical_activity':'PhysicalActivity',
        'dietary_habits':'HealthyDiet',
        'stress_level':'StressLevel',
        'blood_pressure_systolic':'BloodPressure',
        'previous_heart_disease':'PreviousHeartAttack',
        'heart_attack':'Outcome',
    },
    inplace=True
)

In [235]:
dfs = {
    "China": china,
    "India": india,
    "United States": unitedStates,
    "Indonesia" : indonesia
}

# insieme di tutte le colonne
all_columns = set().union(*(df.columns for df in dfs.values()))

# colonne mancanti per ogni dataset
diff_columns = {
    name: sorted(all_columns - set(df.columns))
    for name, df in dfs.items()
}

diff_columns

{'China': [], 'India': [], 'United States': [], 'Indonesia': []}

In [241]:
china.head(10)

,PatientID,Age,Gender,Smoker,Hypertension,Diabetes,Obesity,Cholesterol,PhysicalActivity,HealthyDiet,StressLevel,AlcoholConsumption,FamilyHistory,IncomeLevel,BloodPressure,PreviousHeartAttack,Outcome,State
0,1,55,Male,Non-Smoker,No,No,Yes,Normal,High,Moderate,Low,Yes,No,Low,104,No,No,China
1,2,66,Female,Smoker,Yes,No,No,Low,High,Healthy,Medium,No,Yes,Middle,142,No,No,China
2,3,69,Female,Smoker,No,No,No,Low,High,Moderate,Low,No,No,High,176,No,No,China
3,4,45,Female,Smoker,No,Yes,No,Normal,Low,Healthy,Medium,Yes,No,Low,178,Yes,No,China
4,5,39,Female,Smoker,No,No,No,Normal,Medium,Healthy,Low,No,No,Middle,146,No,No,China
5,6,76,Male,Smoker,No,No,No,Low,Low,Poor,Medium,No,Yes,Middle,92,No,No,China
6,7,37,Male,Smoker,No,No,No,Normal,Low,Poor,Medium,No,Yes,High,144,No,No,China
7,8,88,Male,Non-Smoker,Yes,No,Yes,Low,Low,Moderate,High,No,No,Low,162,No,No,China
8,9,54,Female,Smoker,No,No,Yes,Normal,Medium,Poor,Medium,No,No,Low,93,No,No,China
9,10,47,Female,Smoker,No,No,Yes,Low,Low,Moderate,Medium,Yes,Yes,High,125,No,Yes,China

In [236]:
# PatientID (integer), Age (integer), Gender (categoric), Smoker (bool), Hypertension (bool), Diabetes (bool), Obesity (BMI conversion from number to bool),
# Cholesterol (from number to categoric), PhisicalActivity (from * to bool), HealthyDiet (from * to bool),
# StressLevel (from * to categoric), AlcoholConsumption (from * to bool), FamilyHistory (bool), IncomeLevel (from * to categoric)
# BloodPressure (integer), PreviousHearthAttack (bool), Outcome (bool).

In [237]:
#china.set_index(['Stato','Patient_ID'], inplace=True)
#unitedStates.set_index(['Stato','Patient_ID'], inplace=True)
#india.set_index(['Stato','Patient_ID'], inplace=True)
#indonesia.set_index(['Stato','Patient_ID'], inplace=True)
#dataset = pd.concat([china, india, unitedStates, indonesia], verify_integrity=True)