In [1]:
import pandas as pd
CHINA_DATASET = "heart_attack_china.csv"
US_DATASET = "heart_attack_us.csv"
INDIA_DATASET = "heart_attack_india.csv"
INDONESIA_DATASET = "heart_attack_indonesia.csv"
china = pd.read_csv(CHINA_DATASET, sep=",")
unitedStates = pd.read_csv(US_DATASET, sep=",")
india = pd.read_csv(INDIA_DATASET, sep=",")
indonesia = pd.read_csv(INDONESIA_DATASET, sep=",")

In [2]:
china['State'] = "China"
india['State'] = "India"
unitedStates['State'] = "United States"
indonesia['State'] = "Indonesia"

unitedStates["PatientID"] = range(1, len(unitedStates)+1)
indonesia["PatientID"] = range(1, len(indonesia)+1)

In [3]:
(
    unitedStates.drop(
        columns = ['EducationLevel',
                   'ST_Depression',
                   'EmploymentStatus',
                   'MaritalStatus', 
                   'Ethnicity',
                   'Medication',
                   'ChestPainType',
                   'ECGResults',
                   'ExerciseInducedAngina',
                   'Slope',
                   'NumberOfMajorVessels',
                   'Thalassemia',
                   'StrokeHistory',
                   'Residence',
                   'MaxHeartRate',
                   'HeartRate'
                  ],
        inplace=True
    )
)

In [4]:
unitedStates.rename(columns = {'BMI':'Obesity', 'Income':'IncomeLevel', 'Patient_ID':'PatientID', 'Diet':'HealthyDiet'}, inplace=True)

In [5]:
(
    china.drop(
        columns = ['Education_Level',
                   'Employment_Status',
                   'Air_Pollution_Exposure',
                   'Healthcare_Access',
                   'Rural_or_Urban',
                   'Region',
                   'Province',
                   'Hospital_Availability',
                   'TCM_Use',
                   'Chronic_Kidney_Disease',
                   'CVD_Risk_Score'
                  ],
        inplace=True
    )
)

In [6]:
china.rename(
    columns = { 
        'Patient_ID':'PatientID',
        'Smoking_Status':'Smoker',
        'Cholesterol_Level':'Cholesterol',
        'Physical_Activity': 'PhysicalActivity',
        'Diet_Score':'HealthyDiet',
        'Income_Level':'IncomeLevel',
        'Blood_Pressure':'BloodPressure',
        'Previous_Heart_Attack': 'PreviousHeartAttack',
        'Family_History_CVD': 'FamilyHistory',
        'Stress_Level':'StressLevel',
        'Alcohol_Consumption': 'AlcoholConsumption',
        'Heart_Attack' : 'Outcome'
    },
    inplace=True
)

In [7]:
(
    india.drop(
        columns = ['State_Name',
                   'Triglyceride_Level',
                   'LDL_Level',
                   'HDL_Level',
                   'Diastolic_BP',
                   'Air_Pollution_Exposure',
                   'Healthcare_Access',
                   'Emergency_Response_Time',
                   'Health_Insurance'
                  ],
        inplace=True
    )
)

In [8]:
india.rename(
    columns = {
        'Patient_ID':'PatientID',
        'Smoking':'Smoker',
        'Alcohol_Consumption': 'AlcoholConsumption',
        'Physical_Activity': 'PhysicalActivity',
        'Diet_Score':'HealthyDiet',
        'Cholesterol_Level':'Cholesterol',
        'Systolic_BP':'BloodPressure',
        'Family_History':'FamilyHistory',
        'Stress_Level':'StressLevel',
        'Heart_Attack_History':'PreviousHeartAttack',
        'Annual_Income':'IncomeLevel',
        'Heart_Attack_Risk':'Outcome'
    },
    inplace=True
)

In [9]:
(
    indonesia.drop(
        columns = ['region',
                   'waist_circumference',
                   'air_pollution_exposure',
                   'sleep_hours',
                   'blood_pressure_diastolic',
                   'fasting_blood_sugar',
                   'cholesterol_hdl',
                   'cholesterol_ldl',
                   'triglycerides',
                   'EKG_results',
                   'medication_usage',
                   'participated_in_free_screening'
                  ],
        inplace=True
    )
)

In [10]:
indonesia.rename(
    columns = {
        'age':'Age',
        'gender':'Gender',
        'income_level': 'IncomeLevel',
        'hypertension':'Hypertension',
        'diabetes':'Diabetes',
        'cholesterol_level':'Cholesterol',
        'obesity':'Obesity',
        'family_history':'FamilyHistory',
        'smoking_status':'Smoker',
        'alcohol_consumption':'AlcoholConsumption',
        'physical_activity':'PhysicalActivity',
        'dietary_habits':'HealthyDiet',
        'stress_level':'StressLevel',
        'blood_pressure_systolic':'BloodPressure',
        'previous_heart_disease':'PreviousHeartAttack',
        'heart_attack':'Outcome',
    },
    inplace=True
)

In [11]:
dfs = {
    "China": china,
    "India": india,
    "United States": unitedStates,
    "Indonesia" : indonesia
}

# insieme di tutte le colonne
all_columns = set().union(*(df.columns for df in dfs.values()))

# colonne mancanti per ogni dataset
diff_columns = {
    name: sorted(all_columns - set(df.columns))
    for name, df in dfs.items()
}

diff_columns

{'China': [], 'India': [], 'United States': [], 'Indonesia': []}

In [23]:
initial_memory = china.memory_usage(deep=True).sum()

china['Age'] = china['Age'].astype('int16')
china['BloodPressure'] = china['BloodPressure'].astype('int16')
china['Gender'] = china['Gender'].astype('category')
china['Smoker'] = china['Smoker'].map({'Smoker':True, 'Non-Smoker':False}).astype('bool')
china["Hypertension"] = china["Hypertension"].map({"Yes": True, "No": False}).astype('bool')
china["Diabetes"] = china["Diabetes"].map({"Yes": True, "No": False}).astype('bool')
china["Obesity"] = china["Obesity"].map({"Yes": True, "No": False}).astype('bool')
china['Cholesterol'] = china['Cholesterol'].astype('category')
china['PhysicalActivity'] = china['PhysicalActivity'].map({"High": True, "Medium": True, "Low": False})
china['HealthyDiet'] = china['HealthyDiet'].map({"Healthy": True, "Moderate": True, "Poor": False})
china['StressLevel'] = china['StressLevel'].astype('category')
china['AlcoholConsumption'] = china['AlcoholConsumption'].map({'Yes':True, 'No':False}).astype('bool')
china['FamilyHistory'] = china['FamilyHistory'].map({'Yes':True, 'No':False}).astype('bool')
china['IncomeLevel'] = china['IncomeLevel'].astype('category')
china['PreviousHeartAttack'] = china['PreviousHeartAttack'].map({'Yes':True, 'No':False}).astype('bool')
china['Outcome'] = china['Outcome'].map({'Yes':True, 'No':False}).astype('bool')
china['State'] = china['State'].astype('category')

end_memory = china.memory_usage(deep=True).sum()

,PatientID,Age,Gender,Smoker,Hypertension,Diabetes,Obesity,Cholesterol,PhysicalActivity,HealthyDiet,StressLevel,AlcoholConsumption,FamilyHistory,IncomeLevel,BloodPressure,PreviousHeartAttack,Outcome,State
0,1,55,Male,True,True,True,True,Normal,NaN,NaN,Low,True,True,Low,104,True,True,China
1,2,66,Female,True,True,True,True,Low,NaN,NaN,Medium,True,True,Middle,142,True,True,China
2,3,69,Female,True,True,True,True,Low,NaN,NaN,Low,True,True,High,176,True,True,China
3,4,45,Female,True,True,True,True,Normal,NaN,NaN,Medium,True,True,Low,178,True,True,China
4,5,39,Female,True,True,True,True,Normal,NaN,NaN,Low,True,True,Middle,146,True,True,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239261,239262,53,Male,True,True,True,True,Normal,NaN,NaN,Medium,True,True,Low,167,True,True,China
239262,239263,48,Female,True,True,True,True,Normal,NaN,NaN,High,True,True,Low,179,True,True,China
239263,239264,57,Male,True,True,True,True,Normal,NaN,NaN,Low,True,True,Middle,136,True,True,China
239264,239265,42,Female,True,True,True,True,High,NaN,NaN,High,True,True,Middle,159,True,True,China
239265,239266,79,Male,True,True,True,True,High,NaN,NaN,Medium,True,True,Low,112,True,True,China

In [21]:
china_memory_optimization_coeff = initial_memory / end_memory
china_memory_optimization_coeff

np.float64(30.223054142451986)

In [28]:
unitedStates['Gender'] = unitedStates['Gender'].astype('category')

bins = [-float('inf'), 200, 240, float('inf')]
labels = ['Low', 'Normal', 'High']
unitedStates['Cholesterol'] = pd.cut(
    unitedStates['Cholesterol'],
    bins=bins,
    labels=labels,
    right=False
).astype('category')

# Cholesterol --> to categoric 
# Obesity --> to bool
unitedStates['Smoker'] = unitedStates['Smoker'].map({1:True, 0:False}).astype('bool')
unitedStates['Diabetes'] = unitedStates['Diabetes'].map({1:True, 0:False}).astype('bool')
unitedStates['Hypertension'] = unitedStates['Hypertension'].map({1:True, 0:False}).astype('bool')
unitedStates['FamilyHistory'] = unitedStates['FamilyHistory'].map({1:True, 0:False}).astype('bool')
# PhysicalActivity here --> to bool
# AlcoholConsumption here --> to bool
# HealthyDiet here --> to bool
# StressLevel here --> to categoric
# IncomeLevel here --> to categoric
unitedStates['PreviousHeartAttack'] = unitedStates['PreviousHeartAttack'].map({1:True, 0:False}).astype('bool')
unitedStates['Outcome'] = unitedStates['Outcome'].map({'Heart Attack':True, 'No Heart Attack':False}).astype('bool')

unitedStates.head(10)

,Age,Gender,Cholesterol,BloodPressure,Obesity,Smoker,Diabetes,Hypertension,FamilyHistory,PhysicalActivity,AlcoholConsumption,HealthyDiet,StressLevel,IncomeLevel,PreviousHeartAttack,Outcome,State,PatientID
0,31,Male,Low,162,22.9,True,True,True,True,6,0,Unhealthy,1,64510,True,True,United States,1
1,69,Male,Normal,148,33.9,True,True,True,True,1,2,Unhealthy,6,91773,True,True,United States,2
2,34,Female,Low,161,34.0,True,True,True,True,1,3,Healthy,3,173550,True,True,United States,3
3,53,Male,High,134,35.0,True,True,True,True,6,0,Healthy,3,43861,True,True,United States,4
4,57,Female,Normal,140,30.1,True,True,True,True,4,1,Moderate,1,83404,True,True,United States,5
5,41,Male,Low,154,38.7,True,True,True,True,3,2,Moderate,4,113011,True,True,United States,6
6,45,Female,Normal,168,21.7,True,True,True,True,0,2,Healthy,5,61069,True,True,United States,7
7,61,Female,Normal,113,23.1,True,True,True,True,4,4,Healthy,5,74686,True,True,United States,8
8,45,Male,Normal,114,24.8,True,True,True,True,2,4,Unhealthy,2,148763,True,True,United States,9
9,30,Male,Low,130,24.7,True,True,True,True,6,2,Moderate,3,184885,True,True,United States,10

In [15]:
# PER VERIFICARE LE COLONNE
india['Hypertension'].dtype

dtype('int64')

In [16]:
# MIRI DID THIS

india['Gender'] = india['Gender'].astype('category')
india['Diabetes'] = india['Diabetes'].map({1:True, 0:False}).astype('bool')
india['Hypertension'] = india['Hypertension'].map({1:True, 0:False}).astype('bool')
# Cholesterol --> to categoric 
# Obesity --> to bool
#unitedStates['Smoker'] = unitedStates['Smoker'].map({1:True, 0:False}).astype('bool')
#unitedStates['FamilyHistory'] = unitedStates['FamilyHistory'].map({1:True, 0:False}).astype('bool')
# PhysicalActivity here --> to bool
# AlcoholConsumption here --> to bool
# HealthyDiet here --> to bool
# StressLevel here --> to categoric
# IncomeLevel here --> to categoric
#unitedStates['PreviousHeartAttack'] = unitedStates['PreviousHeartAttack'].map({1:True, 0:False}).astype('bool')
#unitedStates['Outcome'] = unitedStates['Outcome'].map({'Heart Attack':True, 'No Heart Attack':False}).astype('bool')

india.head(10)

,PatientID,Age,Gender,Diabetes,Hypertension,Obesity,Smoker,AlcoholConsumption,PhysicalActivity,HealthyDiet,Cholesterol,BloodPressure,FamilyHistory,StressLevel,PreviousHeartAttack,IncomeLevel,Outcome,State
0,1,42,Female,False,False,1,1,0,0,9,248,93,0,4,0,611025,0,India
1,2,26,Male,False,False,0,0,1,1,4,272,134,0,7,0,174527,0,India
2,3,78,Male,False,False,1,0,0,1,6,268,104,1,10,0,1760112,0,India
3,4,58,Male,True,False,1,0,0,1,9,224,91,0,1,1,1398213,0,India
4,5,22,Male,False,False,0,0,0,1,5,277,141,0,9,0,97987,1,India
5,6,31,Male,False,False,0,0,0,0,7,188,110,1,3,0,399442,0,India
6,7,26,Male,False,False,0,0,0,0,9,210,156,0,6,0,1021445,0,India
7,8,68,Male,False,False,1,0,0,0,2,160,157,0,10,0,157215,0,India
8,9,45,Female,False,False,0,0,0,0,3,264,158,0,7,0,798426,0,India
9,10,52,Male,True,False,0,1,0,0,1,167,166,0,6,1,1505931,0,India

In [17]:
# PatientID (integer), Age (integer), Gender (categoric), Smoker (bool), Hypertension (bool), Diabetes (bool), Obesity (BMI conversion from number to bool),
# Cholesterol (from number to categoric), PhisicalActivity (from * to bool), HealthyDiet (from * to bool),
# StressLevel (from * to categoric), AlcoholConsumption (from * to bool), FamilyHistory (bool), IncomeLevel (from * to categoric)
# BloodPressure (integer), PreviousHearthAttack (bool), Outcome (bool).

In [18]:
#china.set_index(['Stato','Patient_ID'], inplace=True)
#unitedStates.set_index(['Stato','Patient_ID'], inplace=True)
#india.set_index(['Stato','Patient_ID'], inplace=True)
#indonesia.set_index(['Stato','Patient_ID'], inplace=True)
#dataset = pd.concat([china, india, unitedStates, indonesia], verify_integrity=True)